.login {
  margin-top: 5%;
}

.background {
  background-image: url("../../assets/login.jpg");
  color: #fff;
  height: 820px;
}

.form-control {
  height: 60px;
}

.form-group {
  margin-bottom: 12%;
}

.btn {
  font-size: 20px;
  width: 100px;
  margin-bottom: 10px;
}

.login-label {
  font-size: 20px;
}